@use "../../styles/variables"as *;

.containerLoading {
    @include flexCenter(row);
    min-height: 100dvh;
    background-color: #d5edf6;

    .waveLoader {
  display: flex;
  gap: 6px;

  span {
    width: 12px;
    height: 12px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: waveBounce 1.2s infinite ease-in-out;

    &:nth-child(1) { animation-delay: -0.32s; }
    &:nth-child(2) { animation-delay: -0.16s; }
  }
}

@keyframes waveBounce {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}
}