@mixin flexCenter ($direct) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direct;
}

:root {
    --color-primary: #0E58C4;
    --color-secondary: #052657;
    --color-text-general: #000000;
        --color-text-secondary: #504f4f;
    --color-bg: #f6f8fb;
    --color-error: #fd0000;
}

